body{
	font-family: Verdana, Geneva, sans-serif;
	background-color:rgb(229, 249, 255);
	text-align: center;
}
main{
	width:50%;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}
.headerTitle{
	font-size: 60px;
	text-align: center;
	padding-bottom: 20px;
}
.contactInfo{
	text-align: center;
	background-color: rgb(188, 255, 245);
	padding:10px 0px 10px 0px;
	height: 480px;
}
.glamourShot{
	width: 250px;
}
.education{
	padding:20px;
	text-align: left;
}
.employmentHistory{
	background-color: rgb(188, 255, 245);
	padding:20px;
	text-align: left;
}

.jobImage, .diplomaImage, .glamourShot {
	float: right;
	opacity:0.5;
	filter: alpha(opacity=50);
	margin-right: 50px;
	background-image: url('images/sallySprite.png');
	background-repeat: no-repeat;
}

.jobImage {
	width: 195px;
	height: 164px;
	background-position: 0px 5px;
}

.diplomaImage {
    width: 195px;
    height: 162px;
    background-position: 0px -159px;
}

.glamourShot {
    width: 387px;
    height: 296px;
    background-position: 0px -330px;
    opacity: 1;
    filter: alpha(opacity=100);
    margin-left: auto;
    margin-right: auto;
    float: none;
}